<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div data-template="edweb:load-objects">
        <div id="page-header" style="padding-top: 30px">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"/>
                    <div class="col-md-7">
                        <h1>Texte</h1>
                        <div class="hinweis">
                            <p>Es befinden sich <span data-template="edweb:insert-count" data-template-from="all"/> Einträge in der Datenbank.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="page-views">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"/>
                    <div data-template="app:view-dokumente-navbar"/>
                </div>
            </div>
        </div>
        <div id="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"/>
                    <div class="col-md-7">
                        <div class="box whitebox">
                            <div class="boxInner">
                                <p data-template="edweb:template-switch">
                                    <switch>
                                        <span data-template="edweb:insert-count" data-template-from="filtered"/>
                                    </switch>
                                    <span case="0">Für diese Auswahl wurde kein Eintrag gefunden.</span>
                                    <span case="1">Für diese Auswahl wurde ein Eintrag gefunden.</span>
                                    <span case="default">Für diese Auswahl wurden <span data-template="edweb:insert-count" data-template-from="filtered"/> Einträge gefunden.</span>
                                </p>
                                <ul class="square-list">
                                    <li data-template="templates:each" data-template-from="filtered" data-template-to="item">
                                        <a data-template="edweb:template-detail-link" data-template-from="item">
                                            <span class="theme-color" data-template="edweb:insert-string" data-template-path="item?label"/>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"/>
                    <div class="col-md-3">
                        <div data-template="edweb:template-show-filters">
                            <div class="box graybox filter">
                                <h3>Nach <span data-template="edweb:insert-string" data-template-path="filter?name"/> filtern</h3>
                                <div class="boxInner">
                                    <ul class="combobox">
                                        <li>
                                            <a data-template="edweb:add-filter-all-link"/>
                                        </li>
                                        <li data-template="templates:each" data-template-from="filter-items" data-template-to="item">
                                            <a data-template="edweb:add-filter-item-link"/>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>