<div xmlns="http://www.w3.org/1999/xhtml" 
  data-template="templates:surround" 
  data-template-with="templates/page.html" 
  data-template-at="content">
  <div data-template="edweb:load-current-object">
    <div id="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-7">
            <h1><span data-template="edweb:insert-string" 
              data-template-path="label"></span></h1>
          </div>
        </div>
      </div>
    </div>
    <div id="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-7 book-like" id="object-content">
            <div data-template="edweb:template-transform-current"></div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>