@font-face {
    font-family: 'PTSans';
    src: url('../fonts/PTS55F-webfont.eot');
    src: url('../fonts/PTS55F-webfont.eot?iefix') format('eot'),
         url('../fonts/PTC55F-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans';
    src: url('../fonts/PTS75F-webfont.eot');
    src: url('../fonts/PTS75F-webfont.eot?iefix') format('eot'),
         url('../fonts/PTC75F-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PTSerif';
    src: url('../fonts/PTF55F-webfont.eot');
    src: url('../fonts/PTF55F-webfont.eot?iefix') format('eot'),
         url('../fonts/PTF55F-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSerif';
    src: url('../fonts/PTF75F-webfont.eot');
    src: url('../fonts/PTF75F-webfont.eot?iefix') format('eot'),
         url('../fonts/PTF75F-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*@font-face{
    font-family: 'CAGBfont';
    src: url('../fonts/linlibertine_r-webfont.eot');
    src: url('../fonts/linlibertine_r-webfont.eot?iefix') format('eot'),
         url("../fonts/BBAWLibertine.ttf");
    font-style: normal;
    font-weight: normal;
}*/

@font-face{
    font-family: 'CAGBfont';
    src: url('../fonts/linlibertine_r-webfont.eot');
    src: url('../fonts/linlibertine_r-webfont.eot?iefix') format('eot'),
         url("../fonts/LinLibertine_R.woff");
    font-style: normal;
}

@font-face{
    font-family: 'CAGBfont';
    src: url('../fonts/linlibertine_i-webfont.eot');
    src: url('../fonts/linlibertine_i-webfont.eot?iefix') format('eot'),
         url("../fonts/LinLibertine_RI.woff");
    font-style: italic;
}

@font-face{
    font-family: 'CAGBfont';
    src: url('../fonts/linlibertine_rb-webfont.eot');
    src: url('../fonts/linlibertine_rb-webfont.eot?iefix') format('eot'),
         url("../fonts/LinLibertine_RB.woff");
    font-style: normal;
    font-weight: bold;
}
