<div xmlns="http://www.w3.org/1999/xhtml" 
     data-template="templates:surround" 
     data-template-with="templates/page.html" 
     data-template-at="content">
    <div id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-1"/>
                <div class="col-md-7 book-like" lang="de" id="object-content">
                    <div>
                        <h2>Beispiel-Projekt</h2>
                        <p>Das Projekt ... </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
