<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div id="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-1"/>
                <div class="col-md-7 book-like" lang="de" id="object-content">
                    <div>
                        <h2>Beispiel-Projekt</h2>
                        <p>Das Projekt ... </p>
                    </div>
                    <hr></hr>
                    <div>
                        <h3>Briefe</h3>
                        <p>...</p>
                        <a class="btn btn-default" href="$base-url/briefe/index.html">Zur Briefübersicht</a>
                    </div>
                    <hr></hr>
                    <div>
                        <h3>Register</h3>
                        <p> ... </p>
                        <a class="btn btn-default" href="$base-url/personen/index.html">Zur Personenübersicht</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
